[Desktop Entry]
Type=Application
Version=1.0
Name=Calc
Comment=Calculator written in Rust
xec=calc
Icon=/usr/share/icons/calc_128x128.png
Terminal=false
Categories=Utility;
