[Desktop Entry]
Type=Application
Version=1.0
Name=FIT Calc
Comment=Calculator written in Rust
Exec=fitcalc
Icon=/usr/share/icons/fitcalc_128x128.png
Terminal=false
Categories=Utility;
